*.idea
__pycache__
.ipynb_checkpoints/
**.DS_Store

data/FERBL_X_train.csv
data/FERBL_y_train.csv
data/FERBL_X_test.csv
data/FERBL_y_test.csv

data/ePBRN_X_train.csv
data/ePBRN_y_train.csv
data/ePBRN_X_test.csv
data/ePBRN_y_test.csv